
.cardimg {
    z-index: 0;
    width: 100%;
    height: 100%;

}

.status span{
    z-index: 1;
    position: absolute;
    margin-left: 5px;
}

/* .cardpersonaje {
    height: 100%;
} */

.descripcion {
z-index: 1;
/* position: absolute; */
/* background-color: rgba(0, 0, 0, 0.5); */
color: whitesmoke;
display: flex;
flex-direction: column;
transition: opacity 0.5s ease-in-out;
background-color: rgba(128, 128, 128, 0.288);
padding: 5px;

}

.cardpersonaje:hover  {
    cursor: pointer;
    transform: scale(1.02);
    transition: transform 0.5s ease-in-out;

}

.cardpersonaje {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 250px; */
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}